.btn {
    padding: 10px 22px;
    color: #131b23;
    background: transparent;
    font-weight: 600;
    font-size: 0.95rem;
    line-height: 30px;
}

.btn-one {
    border: 1px solid #4b9ae8;
    color: #4b9ae8;
    border-radius: 4px;
}

.btn-one:hover {
    color: #4b9ae8;
}


