@import '~antd/dist/antd.css';

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.nav-item{
    float: left;
    list-style: none;
    /*padding: 25px 0;*/
}
.listStyle{
    list-style: none;
}
.textCenter{
    text-align: center;
}
